[GAMEPLAY]
game_mode = {{ envString "GAME_MODE" }}
max_players = {{ envInt "MAX_PLAYERS" }}
pvp = {{ envBool "PVP" }}
pause_when_empty = {{ envBool "PAUSE_WHEN_EMPTY" }}
vote_enabled = {{ envBool "VOTE_ENABLED" }}

[NETWORK]
lan_only_cluster ={{ envBool "DST_LAN_ONLY_CLUSTER" }}
offline_cluster = {{ envBool "OFFLINE_SERVER" }}
cluster_description = {{ envString "SERVER_DESC" }}
cluster_name = {{ envString "SERVER_NAME" }}
server_intention = {{ envString "SERVER_INTENTION" }}
cluster_password = {{ envString "SERVER_PASSWORD" }}
autosaver_enabled = {{ envBool "AUTOSAVER_ENABLED" }}
tick_rate = {{ envInt "TICK_RATE" }}
whitelist_slots = {{ envInt "WHITELIST_SLOTS" }}

[MISC]
console_enabled = {{ envBool "CONSOLE_ENABLED" }}
max_snapshots = {{ envInt "MAX_SNAPSHOTS" }}


[SHARD]
shard_enabled = {{ envBool "SHARD_ENABLE" }}
bind_ip = 127.0.0.1
master_ip = 127.0.0.1
master_port = 10888
cluster_key = defaultPass
