{{ if ne (envString "GENERAL_MODS") "" }}
  {{ range (split (envString "GENERAL_MODS") ",") }}
ServerModSetup("{{.}}")
  {{ end }}
{{ end }}

{{ if ne (envString "COLLECTION_MODS") "" }}
  {{ range (split (envString "COLLECTION_MODS") ",") }}
ServerModCollectionSetup("{{.}}")
  {{ end }}
{{ end }}
